<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lzs.puppet.demo.leave.dao.LeaveDao">
	<!-- 查询用户 -->
	<select id="queryLeave" parameterType="com.lzs.puppet.demo.model.leave.Leave" resultType="com.lzs.puppet.demo.model.leave.Leave">
		SELECT
			id,
			createTime,
			updateTime,
			startTime
			endTime,
			reason,
			staffId,
			approver,
			state
		FROM
			demo_leave
		<where>
			<if test="staffId > 0">
				and staffId = #{staffId}
			</if>
			<if test="approver > 0">
				and approver = #{approver}
			</if>
			<if test="state > 0">
				and state = #{state}
			</if>
		</where>
	</select>
	<select id="getLeaveById" resultType="com.lzs.puppet.demo.model.leave.Leave">
		SELECT
			id,
			createTime,
			updateTime,
			startTime
			endTime,
			reason,
			staffId,
			approver,
			state
		FROM
			demo_leave
		where 
			id = #{id}
	</select>
	<select id="getLeaveByIdUid" resultType="com.lzs.puppet.demo.model.leave.Leave">
		SELECT
			id,
			createTime,
			updateTime,
			startTime
			endTime,
			reason,
			staffId,
			approver,
			state
		FROM
			demo_leave
		where 
			id = #{id} and staffId=#{staffId}
	</select>
	<insert id="addLeave" parameterType="com.lzs.puppet.demo.model.leave.Leave" useGeneratedKeys="true" keyProperty="id">
		insert into demo_leave(
			createTime,
			updateTime,
			startTime
			endTime,
			reason,
			staffId,
			approver,
			state)
		values(
			unix_timestamp(),
			0,
			#{startTime}
			#{endTime},
			#{reason},
			#{staffId}
			#{approver},
			#{state})
	</insert>
	
	<update id="updateLeave" parameterType="com.lzs.puppet.demo.model.leave.Leave">
		update 
			demo_leave
		set
		<if test="startTime > 0">
			startTime = #{startTime},
		</if>
		<if test="endTime > 0">
			endTime = #{endTime},
		</if>
		<if test="reason != null and reason != ''">
			reason = #{reason},
		</if>
		<if test="approver > 0">
			approver = #{approver},
		</if>
		<if test="state > 0">
			state = #{state},
		</if>
			updateTime = unix_timestamp()
		where id = #{id}
	</update>
	
</mapper>