<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lzs.puppet.demo.dao.UserDao">

	<!-- 查询用户列表 -->
	<select id="queryUser" parameterType="com.lzs.puppet.model.User" resultType="com.lzs.puppet.model.User">
		SELECT
			ut.id,
			ut.user_name AS userName,
			ut.nick_name AS nickName,
			ut.create_date AS createDate,
			ut.update_date AS updateDate,
			ut.last_login_time lastLoginTime,
			ut.email,
			ut.mobile,
			ut.state,
			ut.type,
			ut.col_yx_id,
			ut.col_yx_account,
			ut.col_yx_phone
		FROM
			elf_user_tab ut
		<where>
			<if test="companyId != null">
				company_id = #{companyId}
			</if>
			<if test="type != null">
				and ut.type = #{type}
			</if>
			<if test="state != null">
				and ut.state = #{state}
			</if>
			<if test="nickName != null and nickName != ''">
				and ut.nick_name = #{nickName}
			</if>
			<if test="userName != null and userName != ''">
				and ut.user_name = #{userName}
			</if>
			<if test="email != null and email != ''">
				and ut.email = #{email}
			</if>
			<if test="mobile != null and mobile != ''">
				and ut.mobile = #{mobile}
			</if>
			<if test="col_yx_account != null and col_yx_account != ''">
				and ut.col_yx_account = #{col_yx_account}
			</if>
			<if test="col_yx_phone != null and col_yx_phone != ''">
				and ut.col_yx_phone = #{col_yx_phone}
			</if>
			<if test="col_yx_id != null">
				and ut.col_yx_id = #{col_yx_id}
			</if>
		</where>
	</select>
	
	<!-- 获取用户数量 -->
	<select id="getUserCount" parameterType="com.lzs.puppet.model.User" resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM
			elf_user_tab ut
		<where>
			company_id = #{companyId}
			<if test="type != null">
				and ut.type = #{type}
			</if>
			<if test="state != null">
				and ut.state = #{state}
			</if>
			<if test="nickName != null and nickName != ''">
				and ut.nick_name = #{nickName}
			</if>
			<if test="userName != null and userName != ''">
				and ut.user_name = #{userName}
			</if>
			<if test="email != null and email != ''">
				and ut.email = #{email}
			</if>
			<if test="mobile != null and mobile != ''">
				and ut.mobile = #{mobile}
			</if>
			<if test="col_yx_account != null and col_yx_account != ''">
				and ut.col_yx_account = #{col_yx_account}
			</if>
			<if test="col_yx_phone != null and col_yx_phone != ''">
				and ut.col_yx_phone = #{col_yx_phone}
			</if>
			<if test="col_yx_id != null">
				and ut.col_yx_id = #{col_yx_id}
			</if>
		</where>
	</select>
	
	<!-- 查询用户 -->
	<select id="getUserById" resultType="com.lzs.puppet.model.User">
		SELECT
			ut.id,
			ut.company_id as companyId,
			ut.user_name AS userName,
			ut.PASSWORD,
			ut.create_date AS createDate,
			ut.update_date AS updateDate,
			ut.last_login_time lastLoginTime,
			ut.password_period AS passwordPeriod,
			ut.nick_name AS nickName,
			ut.email,
			ut.type,
			ut.state,
			ut.mobile,
			ut.col_yx_id,
			ut.col_yx_account,
			ut.col_yx_phone
		FROM
			elf_user_tab ut
		where
			ut.id=#{id}
		and
			company_id = #{companyId}
	</select>
	
</mapper>